.heading{
    color:rgb(205, 2, 250);
    font-family: Roboto;
    box-shadow: inset;
    display: inline;
    background-color: white;
    padding: 10px;

}
.chart{
    display: flex;
    background-color: white;
    
}
.line{
   
    margin: 10px;
    box-shadow: inset;
}
.div{
    display: flex;
}
.color-card{
    background-color: white;
    box-shadow: whitesmoke;
    height: 600px;
    width: 90vw;
    margin: 2px;
}